.Edit{
  color: var(--main-color);
  background-color:var(--second-bg);
  box-shadow: 1px 2px 5px var(--main-bg);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  grid-row: 3;
  grid-column: 4 / 6; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 150px;
  gap: 5px;
  cursor: pointer;
  justify-self: flex-end;
}

.Edit #pen {
  font-size: 1.3rem;
}
