.header {
  background-color: #58A598;
  padding: 20px;
  gap: 10px;
  text-transform: uppercase;
}

.header h1 {
  margin: auto;
  text-align: center;
  color: #F5F5F5;
  font-weight: 600;
  font-size: 3rem;
}