.header {
  background-color: var(--main-color);
  padding: 20px;
  gap: 10px;
  text-transform: uppercase;
}

.header h1 {
  margin: auto;
  text-align: center;
  color: var(--second-bg);
  font-weight: 600;
  font-size: 3rem;
}