.MobileScenes {
  background-color: var(--accent-color2);
  grid-row: 3 / 4;
  grid-column: 1 / span 3;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5px 1fr;
  gap: 15px;
  padding: 20px;
}


.MobileScenes .filter {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: end;
}