.sequencesMobile {
  width: 100%;
  margin: 2rem;
  margin-top: 0px;
}

.sequencesMobile form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px repeat(4, 1fr);
  gap: 20px;
  grid-column:1 /span 2;
  grid-row: 1;
}

.sequencesMobile .SaveButton {
  grid-column: 1;

}

.sequencesMobile .sequenceCard1 {
  grid-column: 1;
  grid-row: 2;
}

.sequencesMobile .sequenceCard2 {
  grid-column: 1;
  grid-row: 2;
}

.sequencesMobile .sequenceCard3 {
  grid-column: 1;
  grid-row: 3;
}

.sequencesMobile .sequenceCard4 {
  grid-column: 1;
  grid-row: 3;
}

.sequencesMobile .sequenceCard5 {
  grid-column: 1;
  grid-row: 4;
}

.sequencesMobile .sequenceCard6 {
  grid-column: 1;
  grid-row: 4;
}

.sequencesMobile .sequenceCard7 {
  grid-column: 1;
  grid-row: 5;
}

.sequencesMobile .sequenceCard8 {
  grid-column: 1;
  grid-row: 5;
}