.ProjectName {
  color: var(--second-bg);
  grid-row: 1;
  grid-column: 1;
  margin-left: 10px;
  margin-bottom: 10px;
}

.ProjectName a {
  text-decoration: underline;
  background-color: transparent;
}

.ProjectName h2 {
  font-size: 1.5rem;
  cursor: pointer;
  width: fit-content;
}