.SaveButton {
  color: var(--second-bg);
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: right;
  margin-top: 10px;
}

.SaveButton button {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--accent-color2);
  color: var(--accent-color);
}

.SaveButton button:hover{
  background-color: var(--accent-color);
  color: var(--accent-color2)

}