.sequenceCard {
  background-color: var(--second-bg);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: .25fr repeat(3, 1fr) .25fr;
  grid-template-rows: 30px 1fr 30px;
  min-height: 275px;
  gap: 10px 10px;
  align-items: top;
}

.sequenceCard input {
  background-color: var(--second-bg);
  padding: 5px 5px;
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  font-style:italic;
  border: none;
  outline: none;
  grid-column: 2 / span 3;
  grid-row: 1;
  align-self: center;
}

.sequenceCard h3 {
  background-color: var(--second-bg);
  padding: 5px 5px;
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  font-style:italic;
  border: none;
  outline: none;
  grid-column: 2 / span 3;
  grid-row: 1;
  align-self: center;
}

.sequenceCard p {
  background-color: var(--second-bg);
  margin-top: 5px;
  line-height: 1.3;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  width: 100%;
  resize: none;
  outline: none;
  grid-column: 1 / 6;
  grid-row: 2;

}

.sequenceCard textarea {
  background-color: var(--second-bg);
  margin-top: 5px;
  line-height: 1.3;
  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  width: 100%;
  resize: none;
  outline: none;
  grid-column: 1 / 6;
  grid-row: 2;
}