.SequenceTitleCard {
  background-color: var(--main-color);
  color: var(--second-bg);
  grid-column: 1 / span 3;
  max-width: 900px;
  width: 90%;
  justify-self: center;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
}

.SequenceTitleCard h2 {
  align-self: center;
  padding: 0px;
  margin: 10px;
  font-style: italic;

}

.SequenceTitleCard p {
  width: 100%;
  grid-column: 2;
  grid-row: 3;
  margin: 10px;
  text-align: center;
}

.chevron {
  position: absolute;
  padding: 10px;
}